@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #615efc;
  --color-secondary: #3572ef;
  --font-montserrat: "Montserrat", sans-serif;
  --font-sans: "Alumni Sans SC", sans-serif;
}
